body{
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #FFFFFF;
  line-height: 1.42;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html{
  margin: 0;
  padding: 0;
}

body, html{
  height: 100%;
} 

img{
  display: block;
  max-width: 100%;
}

a{
  color: inherit;
}

ul{
  padding: 0;
  margin: 0;
}

ul li{
  list-style: none;
}

h1, h2, h3, h4{
  margin: 0;
  font-weight: normal;
}

p{
  margin-top: 0;
}

*{
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 1200px;
}

.main-page-wrapper{
  background: url(1.jpg) center top no-repeat, url(2.jpg) center bottom no-repeat, #001821;
}

.container{
  margin: 0 auto;
  max-width: 1141px;
  width: 100%;
}

.header{
  padding-top: 25px;
  margin-bottom: 116px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__col{
  display: flex;
  align-items: center;
}

.header__col--align--right{
  justify-content: flex-end;
}

.logo{
  display: block;
  margin-right: 79px;
}

.menu__item{
  display: inline-block;
  vertical-align: middle;
  margin-right: 54px;
}

.menu__link{
  font-size: 14px;
  text-decoration: none;
}

.contacts{
  font-style: normal;
  font-size: 26px;
  text-align: right;
}

.contacts__phone{
  text-decoration: none;
}

.contacts__desc{
  color: #9A9A9A;
  font-size: 11px;
  font-weight: 400;
}

.dropdown__title{
  font-size: 13px;
  text-decoration: underline;
}

.dropdown{
  position: relative;
}

.dropdown:hover .dropdown__menu{
  right: 0px;
  opacity: 1;
}

.dropdown__menu{
  position: absolute;
  background: url(dropdown.png) no-repeat;
  padding: 22px;
  width: 160px;
  height: 80px;
  top: 100%;
  opacity: 0;
  transition: opacity .4s;
  right: -9999px ;
  /* display: none; */
  margin-bottom: 20px;
}

.dropdowm__menu:before{
  content: "";
  display: block;
  height: 30px;
  left: 0;
  right: 0;
  top: -30px;
  position: absolute;
}

.dropdown__item{
  list-style-type: none;
  font-size: 13px;
  font-weight: bold;
  color: #1E1F20;
}

.hero__content{
margin-bottom: 246px;
}

.hero__text-section{
  width: 50%;
}

.hero__title{
  font-size: 72px;
  font-weight: 700;
  line-height: 98px;
  margin-bottom: 28px;
}

.hero__subtitle{
  font-size: 18px;
  margin-bottom: 46px;
}

.btn__main{
  background: #F5170E;
  border-radius: 35px;
  padding: 18px 40px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.section{
  margin-bottom: 83px;
}
.section__title{
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 63px;
}

.offers{
  display: flex;
  justify-content: space-between;

}

.offers__item{
  min-height: 449px;
  background: #FFFFFF;
  border-radius: 5px;
  width: calc(100% / 3 - 18.5px);
  overflow: hidden;
}

.offers__header{
  min-height: 144px;
}

.offers__content{
  padding: 33px 16px 26px 24px;
  color: #000000;
}

.offers__title{
  font-size: 24px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 21px;
}

.offers__inclusions{
  display: flex;
  justify-content: start;
  margin-bottom: 24px;
}

.offers__inclusions-cell{
  font-size: 16px;
  font-weight: 400;
  color: #666666;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 46px;
}

.offers__inclusions-desc{
font-size: 14px;
font-weight: 400;
color: #303030;
margin-bottom: 45px;
}

.btn{
  background: #FFFFFF;
  border: 1px solid #F5170E;
  border-radius: 35px;
  padding: 17px 23px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.btn--color--black{
  color: #FFFFFF;
  background: #8E8E8E;
}

.btn--color--black:hover{
  background: #2B2B2B;
}

.btn--color-orange{
  color: #FFFFFF;
  background: #F5170E;
}

.news{
  display: flex;
  justify-content: space-between;
}

.single-news{
position: relative;
border-radius: 5px;
overflow: hidden;
}

.news__item{
  height: 394px;
  }

.single-news__text-content{
position: absolute;
left: 0;
right: 0;
bottom: 0;
padding: 30px 26px;
min-height: 121px;
}

.single-news__date{
font-size: 14px;
font-weight: 400;
margin-bottom: 13px;
}

.single-news__title{
font-size: 24x;
font-weight: 700;
margin-bottom: 4px;
}

.single-news__desc{
font-size: 16px;
font-weight: 400;
}

.paginator{
display: flex;
justify-content: center;
align-items: center;
margin-top: 51px;
}

.paginator__display{
  margin-right: 24px;
}

.paginator__list{
  display: flex;
  align-items: center;
}

.paginator__item{
  align-items: center;
}

.paginator__link{
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: 700;
  line-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  }

.paginator .paginator__item-active .paginator__link{
  color: #FFFFFF;
  }

.paginator .paginator__link:hover{
  background: #FFFFFF;
  color: #F5170E;
}

.paginator--theme--dark{
  color: #000000;
}

.paginator--theme--dark .paginator__item-active .paginator__link{
  color: #000000;
}

.paginator--theme--dark .paginator__link:hover{
  color: #FFFFFF;
  background: #F5170E;
}

.about{
  margin-bottom: 38px;
}

.about:before{
content: "";
display: inline-block;
vertical-align: top;
height: 505px;
width: 490px;
background: url(gates.png); center center / cover no-repeat;
}

.about__desc{
background: url(mountains.png);
display: inline-block;
vertical-align: top;
width: 785px;
height: 455px;
margin-left: 354px;
margin-top: -405px;
padding: 100px 60px;
}

.about__title{
font-size: 36px;
font-weight: 700;
color: #000000;
margin-bottom: 37px;
}

.about__desc-text{
margin-bottom: 43px;
}

.about__desc-text p{
color: #060606;
font-size: 16px;
font-weight: 400;
margin-bottom: 20px;
}

.about__desc-text p: :last-child{
margin-bottom: 0;
}

.footer-container{
margin-top: auto;
}

.footer {
  height: 146px;
  position: relative;
  padding-top: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__col{
  display: flex;
  align-items: center;
}

.footer__col--align--right{
align-items: flex-end;
}

.socials__item{
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  }
  
  .socials{
  margin-right: 74px;
  }
  
  .socials__item:last-child{
  margin-right: 0;
  }
  
  .socials__link{
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
  }
  
  .socials__item-icon-telegram .socials__link{
  background-image: url(telegram.png);
  }
  
  .socials__item-icon-telegram .socials__link:hover{
  background-image: url(t.png);
  }

.socials__item-icon-vk .socials__link{
background-image: url(vk.png);
}

.socials__item-icon-vk .socials__link:hover{
background-image: url(vkontakte.png);
}

.socials__item-icon-fb .socials__link{
background-image: url(f.png);
}

.socials__item-icon-fb .socials__link:hover{
background-image: url(f2.png);
}

.socials__item-icon-insta .socials__link{
background-image: url(in.png);
}

.socials__item-icon-insta .socials__link:hover{
background-image: url(instagram.png);
}

      


      /* services page */
 .top-line{
  min-height: 412px;
  background: url(headline.png) center top no-repeat;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.top-line__container{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 24px;
}

.page-title{
  font-size: 72px;
  line-height: 1;
  font-weight: 700;
  color: #FFFFFF;
}

.breadcrumbs__list{
  display: flex;
  align-items: center;
}

.breadcrumbs__link{
  font-size: 14px;
  text-decoration: underline;
  color: #9A9A9A;
}

.breadcrumbs__item:after{
  content: "/";
  color: #9A9A9A;
}

.breadcrumbs__item:last-child:after{
  display: none;
}

.breadcrumbs__item{
  display: flex;
  align-items: center;
}

.breadcrumbs__item--active .breadcrumbs__link{
  font-weight: 700;
}

.page__content{
  background: #F2F2F2;
  padding: 50px 0;
}

.services{
  display: flex;
  flex-direction: column;
}

.services__img{
  width: 40%;
  margin-right: 5%;
}

.services__item{
  display: flex;
  margin-bottom: 20px;
}

.services__content{
flex: 1;
}

.services__title{
  font-size: 36px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 27px;
}

.services__desc{
  color: #303030;
  line-height: 27px;
  margin-bottom: 52px;
}

.inner-section{
  background: #FFFFFF;
  color: #1A1B1E;
  padding: 85px 0;
}

.inner-section--bg--grey{
  background: #F4F5F5;
}

.inner-section__title{
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 65px;
}

.partners{
  display: flex;
  flex-wrap: wrap;
}

.partners__link{
  text-decoration: none;
  display: flex;
  width: 250px;
  height: 100px;
  align-items: center;
  justify-content: center;
  filter: grayscale(100%);
}

.partners__link:nth-child(4n + 1){
  justify-content: left;
}

.partners__link:hover{
  filter: grayscale(0);
}

.partners__item{
  margin-left: 47px;
}

.partners__item:nth-child(4n + 1){  
  margin-left: 0;
}

.inner-footer{
background: #001821;
}


/* reviews */

.reviews__item{
  margin-bottom: 20px;
}

.reviews{
  color: #000000;
  column-count: 2;
  column-gap: 30px;
}

.review{
  display: inline-flex;
  flex-direction: column;
  padding: 50px 30px;
  background: #F4F5F5;
}

.review__header{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.review__user{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: #2E77A4;
  margin-bottom: 11px;
}

.review__user:after{
content: url(vk-blue-1.png);
height: 30px;
}

.avatar{
  width: 142px;
  height: 142px;
  overflow: hidden;
}

.review__tags{
  display: flex;
  align-items: flex-start;
}

.tag{
  font-size: 13px;
  color: #303030;
  padding: 8px 16px;
  border-radius: 50px;
  background: #E7E7E7;
}

.tag--bg--green{
  background: #B9EAE4;
}

.review__title{
  font-size: 30px;
  font-weight: bold;
  color: #1A1B1E;
  margin-bottom: 23px;
}

.review__content-text{
  font-size: 16px;
  color: #818181;
  margin-bottom: 50px;
}

.review__date{
  font-size: 14px;
  font-weight: 600;
  color: #1A1B1E;
}

.separator{
  background: url(bunner.png) center center no-repeat;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.separator__content{
max-width: 50%;
}

.separator__title{
  font-size: 48px;
  font-weight: bold;
}

.form__row{
  display: flex;
  margin-bottom: 30px;
}

.form__input{
  flex: 1;
  margin-right: 30px;
  border-radius: 5px;
  border: none;
  background: #FFFFFF;
  padding: 22px 30px;
  font-size: 18px;
  color: #666666;
}

.form__input:placeholder{
  color: #1A1B1E;
}

.form__input:last-child{
  margin-right: 0px;
}

.form__input--textarea{
  height: 235px;
}

.form__controls{
  display: flex;
  margin-bottom: 35px;
}

.form__controls-title{
  width: 40%;
}

.controls{
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.controls__item{
  margin-bottom: 10px;
  margin-right: 10px;
}

.controls__elem{
  cursor: pointer;
}

.controls__checkbox:checked ~ .controls__tag{
  background: #B9EAE4;
}

.controls__checkbox{
  display: none;
}

.form__btns{
  display: flex;
  justify-content: flex-end;
}

.form__btn{
  margin-right: 20px;
}

.form__btn:last-child{
  margin-left: 0px;
}

/* welcome page */

.welcome{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: url(bg.png) center center no-repeat;
}

.central{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.central__title{
  margin-bottom: 55px;
}